.contact .info-section {
  padding: 54px;
  width: 35%; }

.contact .content-area {
  margin-left: 35%;
  width: 65%;
  background: white;
  height: 100%;
  background: #fefefe; }
  .contact .content-area .img-container {
    width: 30%;
    display: inline-block;
    position: relative;
    height: 100%; }
    .contact .content-area .img-container .user-img {
      top: 56px;
      position: absolute;
      left: -200px;
      width: 400px;
      height: 600px;
      background: url("https://i.pinimg.com/736x/4e/7b/76/4e7b76f7d680884a05b131a599164cff--unique-faces-model-face.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-box-shadow: 5px 17px 137px -24px black;
      -moz-box-shadow: 5px 17px 137px -24px black;
      box-shadow: 5px 17px 137px -24px black; }
  .contact .content-area .profile-section {
    max-width: 500px;
    vertical-align: top;
    display: inline-block;
    padding: 20% 0 0 0; }
    .contact .content-area .profile-section .profile h1 {
      font-size: 2.3rem;
      font-weight: 500;
      line-height: 1.2;
      margin: 0 0 1.7rem 0; }
      .contact .content-area .profile-section .profile h1 span {
        color: #4b21ff; }
    .contact .content-area .profile-section .profile h5 {
      font-size: 1.1rem;
      margin: 0 0 1rem; }
    .contact .content-area .profile-section .profile p {
      color: #bdbdbd;
      font-weight: 300;
      line-height: 1.4;
      margin: 0 0 2rem 0; }
