@font-face {
  font-family: casey-neistat;
  src: url(" ../fonts/casey-neistat.ttf"); }

@font-face {
  font-family: lemon-jelly;
  src: url(" ../fonts/lemon-jelly.ttf"); }

@font-face {
  font-family: timeless;
  src: url(" ../fonts/timeless.ttf"); }
